{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@hooks": ["./src/hooks"],
          "@store": ["./src/store"],
          "@tests": ["./src/tests"],
          "@types": ["./src/types"],
          "@utils": ["./src/utils"],
          "@assets": ["./assets"],
          "@styles": ["./src/styles"],
          "@screens": ["./src/screens"],
          "@components": ["./src/components"],
          "@common": ["./submodules/common/src"]
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
